In [15]:
import pandas as pd

# Read the JSON Lines file
df = pd.read_json('mongsm-mn-train.jsonl', lines=True)

In [16]:
df.head()

,question,answer,answer_number,equation_solution
0,Батад 5 теннисний бөмбөг байв. Тэр теннисний б...,Step-by-Step Answer: Roger started with 5 ball...,11,5 + 6 = 11.
1,Серверийн өрөөнд есөн компьютер байв. Даваа га...,Step-by-Step Answer: There are 4 days from mon...,29,4 * 5 = 20. 9 + 20 = 29.
2,Сувдад 32 шоколад ба түүний дүүд 42 шоколад ба...,Step-by-Step Answer: Leah had 32 chocolates an...,39,32 + 42 = 74. 74 - 35 = 39.
3,Болдод таван тоглоом байв. Шинэ жилээр аав ээж...,Step-by-Step Answer: He has 5 toys. He got 2 f...,9,5 + 2 = 7. 7 + 2 = 9.
4,Сүх 58 гольфийн бөмбөгтэй байжээ. Мягмар гараг...,Step-by-Step Answer: Michael started with 58 g...,33,58 - 23 = 35. 35 - 2 = 33.

In [17]:
df.drop(['answer', 'equation_solution'], axis=1, inplace=True)
df.head()

                                            question  answer_number
0  Батад 5 теннисний бөмбөг байв. Тэр теннисний б...             11
1  Серверийн өрөөнд есөн компьютер байв. Даваа га...             29
2  Сувдад 32 шоколад ба түүний дүүд 42 шоколад ба...             39
3  Болдод таван тоглоом байв. Шинэ жилээр аав ээж...              9
4  Сүх 58 гольфийн бөмбөгтэй байжээ. Мягмар гараг...             33

In [18]:
df['answer_number'] = df['answer_number'].astype(str)
df.head()

                                            question answer_number
0  Батад 5 теннисний бөмбөг байв. Тэр теннисний б...            11
1  Серверийн өрөөнд есөн компьютер байв. Даваа га...            29
2  Сувдад 32 шоколад ба түүний дүүд 42 шоколад ба...            39
3  Болдод таван тоглоом байв. Шинэ жилээр аав ээж...             9
4  Сүх 58 гольфийн бөмбөгтэй байжээ. Мягмар гараг...            33

In [19]:
# Write the dataframe to a TSV file
df.to_csv('mgsm_mn.tsv', sep='\t', index=False, header=False)