In [5]:
import pandas as pd

# Replace 'your_file.tsv' with the path to your TSV file
df = pd.read_csv('translated_output.tsv', sep='\t', header=None)

# Display the first few rows of the dataframe
df.head()

,0,1,2
0,Болормаагийн нугаснууд өдөрт 16 өндөг гаргадаг...,18,Janet’s ducks lay 16 eggs per day. She eats th...
1,Нэг дээл хийхэд хөх өнгийн 2 боодол болон түүн...,3,A robe takes 2 bolts of blue fiber and half th...
2,Сүхээ нэг байшинг эргүүлж зарах гэж шийджээ. Т...,70000,Josh decides to try flipping a house. He buys...
3,Жеймс долоо хоногт 3 удаа 3 спринт гүйхээр ший...,540,James decides to run 3 sprints 3 times a week....
4,Вэнди өдөр бүр тахиануудад гурван аяга үр тари...,20,"Every day, Wendi feeds each of her chickens th..."

In [6]:
df = df.drop(columns=[2])
df.head()

                                                   0      1
0  Болормаагийн нугаснууд өдөрт 16 өндөг гаргадаг...     18
1  Нэг дээл хийхэд хөх өнгийн 2 боодол болон түүн...      3
2  Сүхээ нэг байшинг эргүүлж зарах гэж шийджээ. Т...  70000
3  Жеймс долоо хоногт 3 удаа 3 спринт гүйхээр ший...    540
4  Вэнди өдөр бүр тахиануудад гурван аяга үр тари...     20

In [7]:
df.to_csv('mgsm_mn_test.tsv', sep='\t', index=False, header=False)